<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.os.operando.application.interoperability.sample"
    android:sharedUserId="app.shareduserid">

    <permission
        android:name="master.app.READ_DATA"
        android:protectionLevel="signature" />
    <permission
        android:name="master.app.OPEN"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".SampleContentProvider"
            android:authorities="master"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity-alias
            android:name=".SettingAliasActivity"
            android:exported="true"
            android:permission="master.app.OPEN"
            android:targetActivity=".SettingActivity" />

        <activity android:name=".SampleActivity">
            <intent-filter>
                <data
                    android:host="sample"
                    android:scheme="https" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>
</manifest>